In [1]:
import requests
import re
import json
import pandas as pd
from pyecharts import options as opts
from pyecharts.charts import Map
from pyecharts.charts import Bar
from pyecharts.charts import Pie
from pyecharts.charts import Page

In [2]:
url='http://ncov.dxy.cn/ncovh5/view/pneumonia'
html=requests.get(url).content.decode('utf-8')
data=re.findall('getListByCountryTypeService2true = (.*?)}catch',html)[0]
data=json.loads(data)

In [3]:
needed_data=[{
    'continents':country['continents'],
    'country_name':country['provinceName'],
    'current_confirmed_count':country['currentConfirmedCount'],
    'confirmed_count':country['confirmedCount'],
    'cured_count':country['curedCount'],
    'dead_count':country['deadCount'],
    'dead_rate':country['deadRate']
    }for country in data]
data=pd.DataFrame(needed_data)
data

,continents,country_name,current_confirmed_count,confirmed_count,cured_count,dead_count,dead_rate
0,北美洲,美国,852481,1069424,153947,62996,5.89
1,欧洲,英国,144138,171253,344,26771,15.63
2,欧洲,意大利,101551,205463,75945,27967,13.61
3,欧洲,俄罗斯,93806,106498,11619,1073,1.00
4,欧洲,西班牙,76842,213435,112050,24543,11.49
...,...,...,...,...,...,...,...
209,北美洲,安圭拉,3,3,0,0,0.00
210,非洲,毛里塔尼亚,1,8,6,1,12.50
211,北美洲,圣皮埃尔和密克隆群岛,1,1,0,0,0.00
212,非洲,科摩罗,1,1,0,0,0.00
213,大洋洲,新西兰,-104,1129,1214,19,1.68

In [4]:
group_data=data.groupby('continents')
group_data=group_data.sum()
group_data=group_data.sort_values(by='current_confirmed_count',ascending=False)
group_data

            current_confirmed_count  confirmed_count  cured_count  dead_count
continents
北美洲                          912918          1161735       179970       68847
欧洲                           701384          1306245       470299      134562
亚洲                           237092           518421       262816       18513
南美洲                          108367           176748        59664        8717
非洲                            25615            39627        12379        1633
大洋洲                            1216             8148         6814         118
其他                              125              712          574          13

In [5]:
bar=Bar()
bar.add_xaxis(['欧洲','北美洲','亚洲','南美洲','非洲','大洋洲','其他'])
bar.add_yaxis("current_confirmed_count",group_data['current_confirmed_count'].tolist(),category_gap="40%")
bar.add_yaxis("confirmed_count",group_data['confirmed_count'].tolist(),category_gap="40%")
bar.add_yaxis("cured_count",group_data['cured_count'].tolist(),category_gap="40%")
bar.add_yaxis("dead_count",group_data['dead_count'].tolist(),category_gap="40%")
bar.set_global_opts(title_opts=opts.TitleOpts(title="全球疫情可视化-pie"),
                    toolbox_opts=opts.ToolboxOpts())
bar.render('./全球疫情可视化-pie.html')

'/Users/xusanliu/疫情地图/全球疫情可视化-pie.html'

In [6]:
data_one=data.sort_values(by='dead_rate',ascending=False)
data_one=data_one[:10]
data_one

,continents,country_name,current_confirmed_count,confirmed_count,cured_count,dead_count,dead_rate
19,北美洲,墨西哥,14738,19224,2627,1859,9.67
199,北美洲,蒙特塞拉特,10,11,0,1,9.09
201,非洲,冈比亚,8,11,2,1,9.09
82,北美洲,洪都拉斯,672,738,0,66,8.94
125,北美洲,瓜德罗普岛,138,151,0,13,8.60
193,北美洲,特克斯和凯科斯群岛,11,12,0,1,8.33
171,非洲,马拉维,27,37,7,3,8.10
122,北美洲,马提尼克,161,175,0,14,8.00
165,北美洲,圣马丁岛,35,38,0,3,7.89
149,北美洲,海地,70,76,0,6,7.89